.contact-container{
    position: absolute;
    top: 1950px;
    left: 5%;
    width: 1431px;
    height: 592px;
    background: linear-gradient(168.32deg, #0D0D0D 21.51%, rgba(13, 13, 13, 0.09) 111.37%);
    
}

.contact-info{
    position: absolute;
    top: -200px;
    left: 80%;
    height: 500px;
    gap: 150px;
    display: flex;
    flex-direction: column;
    

}
.contact-logo{
    width: 343px;
    height: 150px;
}

.redes-contacto{
  
    display: flex;
    flex-direction: row;

}
.redes-contacto > p{
    color: white;
    
}
.redes-contacto > h1{
    color: white;
    
}

.img-filler{
    position: absolute;
    top: 308px;
}
.email-title{
    position: absolute;

    height: 24px;
    top: 60%;
    left: 25%;
font-weight: 600;
font-size: 24px;
line-height: 24px

}
.email-text{
    position: absolute;
    top: 69%;
    width: 198px;
    height: 24px;
    left: 22%;


font-weight: 600;
font-size: 18px;
line-height: 24px;
}
.wsp-title{
    position: absolute;
    width: 134px;
    height: 24px;
    top: 97%;
    left: 25%;
font-weight: 600;
font-size: 24px;
line-height: 24px
}
.wsp-text{
    position: absolute;
    top: 105%;
    width: 198px;
    height: 24px;
    left: 22%;


font-weight: 600;
font-size: 18px;
line-height: 24px;

}